body {
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
}

header {
    background-color: #672FBD;   /* 103 47 189 */
    color: #fff;
    padding: 20px;

    display:flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    padding: 0;
}

nav ul li {
    display: inline-block;
    font-size: 1.2rem;
    margin: 0 20px;
}

.hamburger {
    display: none;
}


@media(max-width: 767px) {

    .hamburger {
        display: block;
        font-size: 3rem;
    }

    nav {
        background-color: rgb(173, 24, 24);
        position: fixed;
        top: 107px;
        left: -100%;
        width: 100%;
        text-align: center;
        transition: transform 1s;
    }

    nav.open {
        transform: translateX(100%);
    }

    nav ul li {
        display: block;
        font-size: 1.2rem;
        margin: 20px;
    }

}

