body {
    margin: 0;
    padding: 0;
  
    font-family: 'Cabin', sans-serif;

}

h1, h2{
    text-align:center;
    justify-content: center;
    
}

h1 {
    padding-left: 20px;
    max-width: 630px;
}



h4 {
    background: rgba(255, 255, 255, 0.5);
    color: #000;
    font-size: 20px;
    line-height: 40px;
    margin: 10px,10px,10px,10px;
    padding: 2%;
    position: relative;
    text-align: center;
}

header {
    background-color: #672FBD;   /* 103 47 189 */
    color: #fff;
    padding: 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    padding: 0;
}



nav ul li {
    display: inline-block;
    font-size: 1.2rem;
    margin: 0 20px;
}




@media(max-width: 767px) {

    .hamburger {
        display: block;
        font-size: 3rem;
    }

    header nav {
        background-color: rgb(255,255,255);
        color: rgb(103, 47, 189);
    
        position: fixed;
        top: 107px;
        left: -100%;
        width: 100%;
        text-align: center;
        transition: transform 1s;
    }

    nav.open {
        transform: translateX(100%);
    }

    header nav ul li {
        display: block;
        font-size: 1.2rem;
        margin: 20px;
    }
}

.author{
    margin-top: 20px;
    text-align: left;
}

.owl{
    display:flex;
    position:relative;
}

.bigimage {
    width:100%;  
    margin: 0px,20px,0px,20px;
    position: relative;
    display:flex;
    text-align: center;
    max-height: 500px;
}

.bigimage img {
    border-style: solid;
    border-color: #672FBD;
    border-width: 10px;
    overflow: hidden;
}

.bigimage h2 {
    background-color: #672FBD;
    color: #fff;
    font-size: 1.5rem;
}

/* .board-button{
    border-radius: 4px;
    background-color: #672FBD;
    color: #fff;
} */

/* .board-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  } */


.board-button2:hover {
    /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); */
  }


.box{
    border: solid 10px white;
 }

 .configure-box{
    border: solid 3px #672FBD ;
    padding: 4px;
 }

 .configure-box a{
    color:  #fff ;
    background-color: #672FBD;
    text-align: center;    
}



.container {
    /* margin-left: 0px; */

  }

.controlPanel {
    margin: 100px 0;
    /* vertical-align:middle; */
    /* color: blue; */
    /* background-color: grey; */
}

.exam-board  {
background-color: #AED6F1;
padding-bottom: 5px;
}

.exam-board li {
    color: pink;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.footer-row{
    text-align: center;
    /* font-size: 0.9rem; */
    color: #fff;
    /* list-style-type: none; */
}

.footer-row li{
    text-align: left;
    list-style-type: none;
}

.footer-row ul{
    /* font-size: 1.1rem; */
    padding-left: 0px;
}

.footer-row p{
    font-size: 0.7rem;
    margin-bottom: 0.25rem;
}

.footer-row a{
    color: rgb(155, 212, 245);
}

.form-element {
    border-radius: 4px;
}


.hamburger {
    display: none;
}

.hero {
    min-height: 300px;
    /* color: white;    */
    text-align:center;
    color:black;
    font-size: 1.1rem;
}

.hero.withbackground {     
    background: url(../images/globe.jpg) no-repeat center center transparent;
    background-size: cover;
    border: solid white 5px;    
}

.hero h2 {
    font-size: 4rem;
}

.hero .white-box{
    background-color: rgba(255,255,255,0.8);
    padding: 5px 10px 5px 0px;
    margin-top: 20px;
}

h1 .white-box{
   padding-left: 20px;
}

.image-button{
  height: 40px;
  margin-top: -20px;
}

.info-box{
    border: solid 3px #672FBD ;
    padding: 4px;
    text-align: left;
  
}

.info-box h4 {
    text-align: center; 
}

.info-box a {
    color:  #672FBD ;
    text-align: center;
}


.inner-footer {
    border-radius:3px;
    overflow: hidden;
}


.main {
    font-family:Arial;
    width:600px;
    display:block;
    margin:0 auto;

} 

.main-footer{
    background-color: #504d55;
    font-size: 0.9rem;
    padding-top: 40px;
    padding-bottom: 40px;

}


.novel {
    margin: 0 -15px 0 -15px;
    background-color: #AED6F1
    /* background-color: black; */
}

.plaudits{
    text-align: center;
    background-color: grey;
    font-size: 1.6rem;
    color: white;
    font-family: 'Shadows Into Light', cursive;
}

.preamble{
    text-align: center;
    margin-top: 10px;
    font-style: italic;
}


.social i{
    font-size: 1.8rem;
    padding: 5px 5px 5px 5px;
}


.sub-footer {
    color: #fff;
    text-align: center;
    font-size: 0.9rem;
    /* margin: 20px 0 0 0 ; */
    background-color: #3B373F;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sub-footer ul {
    list-style: none;
    display: inline-block;
}

.sub-footer li {
    padding: 0 25px;
}


.thumbnails {
    margin: 10px 10px 10px 10px;
    padding: 2%;
    display:flex;
    width: 100%;
}


.thumbnails img {

    border-style: solid;
    border-color: #672FBD;
    border-width: 5px;
    overflow: hidden;
}


.slick-arrow{
    position: absolute;
    top: calc(50% - 18px);
    transform: translateY(-50%);
    left: 60px;


    color: #fff;
    font-size: 40px;

    z-index: 99;

}

.slick-next{
    left: auto;
    right: 60px;
}



/* MODAL */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }